lack;


	}

</style>
<div id="${wid}" style="background:White;">
	<h1>antivirus status</h1>
	<p class="p1">percentage of canidates for running antivirus that are actually running antivirus: <span
			id="antivirusStatus"></span>%</p>
	<p class="p1">average age of virus/rules updates <span id="averageTimeSinceLastUpdate"></span> days</p>
	<p class="p1">maximum age of virus/rule updates <span id="maximumTimeSinceLastUpdate"></span> days</p>
</div>
<script type="text/javascript">
	$(function () {
$.ajaxSetup({
   headers:{
      'Authorization': "auth username and password"
   }
});
		var query = "http://54.244.153.0/api/getAntivirusStatus?api_token=${token}";
		var datenow = new Date();
		var enablearray = JSON.parse('${widgetlist}');
		if (enablearray.indexOf("antivirusStatus.html") > -1) {
			$.getJSON(proxy(query), function (data) {
				$("#antivirusStatus").append(data[0]["percentRunning"]);
				$("#averageTimeSinceLastUpdate").append(data[0]["averageage"]);
				$("#maximumTimeSinceLastUpdate").append(data[0]["maxage"]);
			});
		} else {
			$("#${wid} p").empty();
			$("#${wid}").append("sign up for this widget to see the data");

		}
	});

</script>
