<style>
	p {
		Color: Black;


	}

</style>
<div id="${wid}" style="background:White;">
	<h1>password hygene</h1>
	<p>overall strength rating of your passwords <span id="overallstrength"></span>/5</p>
	<p>time since last Password audit <span id="timesincelastaudit"></span> days</p>
	<p>percentage of passwords that failed in the last audit <span id="failedpercentage"></span>%</p>

</div>
<script type="text/javascript">
	$(function () {
	$.ajaxSetup({
		headers: {
			'Authorization': "Bearer ${token}"
		}
	});
		var query = "http://54.244.153.0/api/getPasswordHygine?api_token=${token}";
		var datenow = new Date();
		var enablearray = JSON.parse('${widgetlist}');
		if (enablearray.indexOf("passwordHygene.html") > -1) {
			$.getJSON(proxy(query), function (data) {
				var date = (new Date(data[0]["lastaudit"]));

				var timepassedsincelastaudit = (Math.abs(datenow - date) / (1000 * 60 * 60 * 24)).toFixed(
					2);;
				var percent = parseFloat(data[0]["percentfails"]) * 100;
				$("#overallstrength").append(data[0]["rating"]);
				$("#timesincelastaudit").append(timepassedsincelastaudit.toString());
				$("#failedpercentage").append(String(percent));
			});
		} else {
			$("#${wid} p").empty();
			$("#${wid}").append("sign up for this widget to see the data");

		}
	});

</script>
