<style>
	p {
		Color: Black;


	}

</style>
<div id="${wid}" style="background:White;">
	<h1>whitelisting status</h1>
	<p>Whitelisting in use: <span id="whiteListingStatus"></span></p>
	<p>percentage of whitelisting candidate machines that are using whitelisting
		<span id="usingPercent"></span>%</p>
	<p>time since last whitelist update <span id="timeSinceLastWhiteListAudit"></span>
		days</p>
</div>
<script type="text/javascript">
	$(function () {
	$.ajaxSetup({
		headers: {
			'Authorization': "Bearer ${token}"
		}
	});
		var query = "http://54.244.153.0/api/getWhitelistingcounts?api_token=${token}";
		var datenow = new Date();
		var enablearray = JSON.parse('${widgetlist}');
		if (enablearray.indexOf("whiteListingStatus.html") > -1) {
			$.getJSON(proxy(query), function (data) {
				data = data[0];
				var date = (new Date(data["date"]));

				var timepassedsincelastaudit = (Math.abs(datenow - date) / (1000 * 60 * 60 * 24)).toFixed(
					2);
				var totalmachines = (parseFloat(data["canUseWhiteWashing"]) + parseFloat(data[
					"usingWhiteWashing"]));
				var percentofmachinesusingwhitelisting = (parseFloat(data["usingWhiteWashing"]) /
					totalmachines) * 100;
				if (parseInt(data["usingWhiteWashing"]) > 0) {
					$("#whiteListingStatus").append("yes");
				} else {
					$("#whiteListingStatus").append("no");

				}
				$("#timeSinceLastWhiteListAudit").append(timepassedsincelastaudit.toString());
				$("#usingPercent").append(String(percentofmachinesusingwhitelisting.toFixed(2)));
			});
		} else {
			$("#${wid} p").empty();
			$("#${wid}").append("sign up for this widget to see Your whitelisting status");



		}
	});

</script>
