<html>

<head>
    <link rel="stylesheet" href="./src/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="./src/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="./src/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="./src/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <meta http-equiv="refresh" content="30">
    <style>
        .scoreBreakdown td {
            table-layout: fixed;
            width: 50px;
        }

        .scoreboard td {
            table-layout: fixed;
            width: 150px;
        }

        .topscores td {
            table-layout: fixed;
            width: 150px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>MEI Security CTF Arena, Nordic Version, 2017-10-14_16-00-01</h1>
        </div>

        <div class="row">
            {{.topscorers}}
        </div>
        <div class="row">


            <div class="col-lg-6"> <b>Total Scores</b>
                <table  class="table table-dark table-bordered">
                    <tr>
                        <th>Team</th>
                        <th>Attack</th>
                        <th>Defend</th>
                    </tr>
                    {{.scoretable}}
                </table>
            </div>
            <div class="col-lg-6" colspan=2 align=left>
                <b>Last Scoring Run</b>
                <table class="table table-dark table-bordered">
                    {{.scoringBreakdown}}
                </table>
            </div>
        </div>
    </div>
</body>

</html>